.result {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--slate-900);
    padding: 3rem 2rem 2rem;
    text-align: center;
}

.result img {
    width: 14rem;
}

.result h2 {
    color: var(--white);
    font-size: 2rem;
    font-weight: var(--font-weitgh-bold);
    margin-top: 1.8rem;
}

.result p {
    color: var(--white);
    font-size: 1.4rem;
    margin-top: 2rem;
}

@media screen and (min-width: 780px) {
    .result {
        border-radius: 0  20px  20px 50px;
        width: 50%;
    }
}